<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="https://cdn.bootcss.com/angular.js/1.3.14/angular.min.js")
    script(src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js")
    script(src="js/fileApp.js")
body(ng-app="fileApp")
    .container(ng-controller="mainController")
        form(ng-submit="submit()")
            .form-group
                larbel 产品名称
                    select(
                        type='text'
                        class='form-control'
                        ng-model='product.name'
                        name='name'
                    )
                        option 筒灯
                        option 餐厅灯
                        option 主灯
                        option 过道灯
            .form-group
                larbel  上传图片
                    input(
                        type='file'
                        class='form-control'
                        id='file'
                        ng-model='product.file'
                    )
            .form-group
                button(class='btn btn-primary form-control') 上传
    
        p {{item.name}}
        img(ng-src="http://localhost:3000/images/{{item.image}}", alt="")